<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.froad.agre.modules.parameter.mapper.ParameterMapper">  

  
  <!-- 参数管理  审核信息查询 -->
     <select id="queryAuditParamList" parameterType="com.froad.agre.modules.parameter.vo.req.AuditParameterReq" resultType="com.froad.agre.modules.parameter.vo.resp.AuditParameterResp">
		<include refid="coreSql"/>
    </select> 
    
    <sql id="coreSql">
	    SELECT 
	    fm.PK1 as auditId,
	    to_char( fm.CREATE_TIME,'YYYY-MM-DD HH24:MI:SS') as applicationDate,
	    fm.PARAM_TYPE as paramType,
	    fm.MERCHANT_NAME as merchantName,
	    fm.AUDIT_CONT as auditContext,
	    fm.AUDIT_STATUS as status
		FROM FR_PARAM_AUDIT fm
		WHERE 
		fm.OPER_ORG  = #{jgm}
		<if test="operNo != null and operNo!=''">
				AND fm.OPER_NO = #{operNo}
		</if>
		ORDER BY fm.CREATE_TIME DESC
	</sql>
    
    <!-- 参数管理 审核信息详情 -->
    <select id="queryAuditDetails" parameterType="com.froad.agre.modules.parameter.vo.req.AuditParameterReq" resultType="com.froad.agre.modules.parameter.vo.resp.AuditDetailsParameterResp">
		<include refid="coreDetailsSql"/>
    </select> 
     <sql id="coreDetailsSql">
	    SELECT 
	    fm.OLD_PARAM as oldParamStr,
	    fm.NEW_PARAM as newParamStr,
	    fm.TRAN_CODE as flag,
	    fm.AUDIT_CONT as auditContext,
	    fm.UPDATE_KEYS as updateKeysStr
		FROM FR_PARAM_AUDIT fm
		WHERE 
		fm.PK1  = #{auditId}
		AND 
		fm.OPER_ORG  = #{jgm}
		<if test="flag!=null  and flag!='' ">
		       AND fm.TRAN_CODE=#{flag}
	    </if>
	</sql>
	
	<!-- 审核管理  审核失效状态 -->
	<select id="updateAuditStatus" parameterType="com.froad.agre.modules.parameter.vo.req.AuditParameterReq" >
		<include refid="coreUpdateSql"/>
    </select> 
     <sql id="coreUpdateSql">
	    UPDATE 
		FR_PARAM_AUDIT fm
		SET fm.AUDIT_STATUS=#{status},
		fm.AUDIT_TIME=#{updateTime}
		WHERE 
		fm.PK1  = #{auditId}
	</sql>
	
	<!-- 审核管理  审核状态 -->
	<select id="updateAuditActionStatus" parameterType="com.froad.agre.modules.parameter.vo.req.AuditParameterReq" >
		<include refid="coreUpdateActionSql"/>
    </select> 
     <sql id="coreUpdateActionSql">
	    UPDATE 
		FR_PARAM_AUDIT fm
		SET fm.AUDIT_STATUS=#{status},
		fm.AUDIT_TIME=#{updateTime},
		fm.AUDITOR_NAME=#{auditName},
		fm.AUDITOR_NO=#{auditNo}
		WHERE 
		fm.PK1  = #{auditId}
	</sql>
	
	
	<!-- 审核管理  新增审核信息 -->
	<select id="addAuditInfo" parameterType="com.froad.agre.modules.parameter.vo.req.AuditParameterReq" >
		<include refid="coreAddSql"/>
    </select> 
     <sql id="coreAddSql">
	    INSERT INTO XEF.FR_PARAM_AUDIT(
	    CREATE_TIME,OPER_NAME,OPER_NO,OPER_ORG, PARAM_TYPE,
	    AUDIT_CONT,OLD_PARAM,NEW_PARAM,MERCHANT_NAME, 
	    TRAN_CODE, AUDIT_STATUS,RUN_STATUS,OBJECT_PARAM,UPDATE_KEYS)
	    VALUES(
	    #{createTime}, 
	    #{operName}, 
	    #{operNo}, 
	    #{jgm}, 
	    #{paramType},
	    #{auditContext},
	    #{oldParam},
	    #{newParam},
	    #{merchantName}, 
	    #{flag}, 
	    #{status}, 
	    #{delType},
	    #{objectParam},
	    #{updateKeys}
	    )
	</sql>
	
	<!-- 参数管理 校验审核是否处于待处理状态 -->
    <select id="queryStatusInfo" parameterType="com.froad.agre.modules.parameter.vo.req.AuditParameterReq" resultType="com.froad.agre.modules.parameter.vo.resp.AuditParameterResp">
		<include refid="coreWaitStatusSql"/>
		<include refid="coreWaitStatusSqlWhere"/>
    </select> 
     <sql id="coreWaitStatusSql">
	    SELECT 
	    fp.PK1 as auditId,
		fp.AUDIT_STATUS as status
		FROM FR_PARAM_AUDIT fp
	</sql>
	<sql id = "coreWaitStatusSqlWhere">
		<where>
			fp.OPER_ORG=#{jgm}
			AND fp.TRAN_CODE=#{flag}
			AND fp.PARAM_TYPE=#{paramType}
			AND fp.AUDIT_STATUS=#{status}
		<if test="delType != null and delType!=''">
				AND fp.RUN_STATUS=#{delType}
		</if>
		<if test="merchantId != null and merchantId!=''">
				AND fp.OBJECT_PARAM  LIKE '%' || #{merchantId} || '%'
		</if>
		</where>
	</sql>
	
	<!-- 参数管理 系统业务参数查询 -->
    <select id="queryBusinessParamInfo" parameterType="com.froad.agre.modules.parameter.vo.req.SystemBusinessParamterReq" resultType="com.froad.agre.modules.parameter.vo.resp.SystemBusinessParamResp">
		<include refid="coreBusinessParamSql"/>
    </select> 
     <sql id="coreBusinessParamSql">
	    SELECT VALUE AS alipayRate,
		(SELECT VALUE 
		FROM FR_CONFIG WHERE KEY='FEE_WECHAT_CHANNEL_SCALE')AS wechantRate,
		0 AS SettleCycle
		FROM FR_CONFIG WHERE KEY='FEE_ALIPAY_CHANNEL_SCALE'
	</sql>
	
	<!-- 参数管理 风控参数查询 -->
    <select id="queryRiskControlInfo" parameterType="com.froad.agre.modules.parameter.vo.req.SystemRiskControlReq" resultType="com.froad.agre.modules.parameter.vo.resp.SystemRiskControlResp">
		<include refid="coreRiskControlSql"/>
    </select> 
     <sql id="coreRiskControlSql">
	    SELECT VALUE AS wechatSuportChannel,
		(SELECT VALUE FROM FR_CONFIG WHERE KEY='ALIPAY_DEBITNOTE_CONTROL') AS alipaySuportChannel
		FROM FR_CONFIG 
		WHERE 
		KEY='WECHAT_DEBITNOTE_CONTROL'
	</sql>
	
	<!-- 参数管理 法人行业务参数详情查询 -->
    <select id="queryDetailsBankParamInfo" parameterType="com.froad.agre.modules.parameter.vo.req.BankBusinessParamterReq" resultType="com.froad.agre.modules.parameter.vo.resp.BankBusinessParamterResp">
		<include refid="coreDetailsBankParamSql"/>
    </select> 
     <sql id="coreDetailsBankParamSql">
        SELECT 
		SETTLE_CYCLE_TYPE AS settleCycle, 
		BANK_ALIPAY_RATE AS  alipayBankRate,
		BANK_WECHAT_RATE AS wechantBankRate,
		(SELECT VALUE FROM FR_CONFIG WHERE KEY='FEE_WECHAT_CHANNEL_SCALE')AS wechantRate,
		(SELECT VALUE FROM FR_CONFIG WHERE KEY='FEE_ALIPAY_CHANNEL_SCALE')AS alipayRate
		FROM FR_BRANCH_CONFIG
		WHERE ORG_CODE=#{jgm}
	</sql>
	
	
	<!-- 参数管理 法人行业务参数查询 -->
    <select id="queryListBankParamInfo" parameterType="com.froad.agre.modules.parameter.vo.req.BankBusinessParamterReq" resultType="com.froad.agre.modules.parameter.vo.resp.BankBusinessParamterResp">
		<include refid="coreListBankParamSql"/>
    </select> 
     <sql id="coreListBankParamSql">
	    SELECT (SELECT ORG_NAME FROM FR_ORG WHERE ORG_CODE=a.ORG_CODE) as orgName,
		BANK_ALIPAY_RATE as  alipayRate,
		BANK_WECHAT_RATE as wechantRate,
		SETTLE_CYCLE_TYPE as SettleCycle,
		'支付宝;微信;安徽农金' as payChannel
		FROM FR_BRANCH_CONFIG a
		WHERE 
		ORG_LVL='2'
		<if test="orgCode != null and orgCode!=''">
				AND a.ORG_CODE=#{orgCode}
		</if>
	</sql>
</mapper>