<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.zcsh.epay.modules.product.mapper.UserOrderMapper">

<!-- 支付页面查询 -->
<select id="queryOrderPayInfo" parameterType="com.zcsh.epay.modules.product.vo.req.OrderPayInfoReq"
        resultType="com.zcsh.epay.modules.product.vo.resp.OrderPayInfoResp">
        SELECT
        fzu.AMOUNT_AVAILABLE AS amountAvailable,
        fzu.AMOUNT_BONUS AS amountBonus,
        fzu.AMOUNT_VOUCHER AS amountVoucher
        FROM FFT_ZCSH_USERS fzu
        WHERE
        fzu.USER_ID=#{userId}
</select>


</mapper>  